[submodule "wayland-protocols/protocols"]
	path = wayland-protocols/protocols
	url = https://gitlab.freedesktop.org/wayland/wayland-protocols.git
[submodule "wayland-protocols/wlr-protocols"]
	path = wayland-protocols/wlr-protocols
	url = https://gitlab.freedesktop.org/wlroots/wlr-protocols.git
