language: rust

cache: cargo

dist: trusty

sudo: required

rust:
  - 1.20.0
  - stable
  - beta
  - nightly

matrix:
  allow_failures:
    - rust: nightly
  include:
    - rust: stable
      env: BUILD_FMT=1
    - rust: stable
      env: TARPAULIN=1
    - rust: stable
      env: BUILD_DOC=1

branches:
  only:
    - master

before_script:
  - export PATH=$HOME/.cargo/bin:$PATH
  - mkdir $(pwd)/socket
  - export XDG_RUNTIME_DIR="$(pwd)/socket"
  - |
      if [ -n "$BUILD_FMT" ]; then
        rustup component add rustfmt-preview
      elif [ -n "$TARPAULIN" ]; then
        bash <(curl https://raw.githubusercontent.com/xd009642/tarpaulin/master/travis-install.sh)
      elif [ -n "$BUILD_DOC" ]; then
        echo "Building doc, nothing to install..."
      else
        # Building & running tests, we need to install the wayland lib
        ./travis_install_wayland.sh "1.12.0"
      fi

os:
  - linux

script:
  - |
      if [ -n "$BUILD_FMT" ]; then
        cargo fmt --all -- --write-mode=diff
      elif [ -n "$TARPAULIN" ]; then
        cargo tarpaulin --ignore-tests --out Xml
      elif [ -n "$BUILD_DOC" ]; then
        cargo doc --all --no-deps --all-features
      else
        env LD_LIBRARY_PATH=~/install/lib:$LD_LIBRARY_PATH cargo test --all --all-features
      fi

after_success:
  - |
      if [ -n "$TARPAULIN" ]; then
        bash <(curl -s https://codecov.io/bash)
      elif [ -n "$BUILD_DOC" ]; then
        cp ./doc_index.html ./target/doc/index.html
        cp ./rust.css ./target/doc/rust.css
      fi

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  local_dir: "target/doc"
  on:
    branch: master
    rust: stable
    condition: $BUILD_DOC = 1

notifications:
    webhooks:
        urls:
            - "https://scalar.vector.im/api/neb/services/hooks/dHJhdmlzLWNpLyU0MGxldmFucyUzQXNhZmFyYWRlZy5uZXQvJTIxRkt4aGprSUNwakJWelZlQ2RGJTNBc2FmYXJhZGVnLm5ldA"
        on_success: change
        on_failure: always
        on_start: never
