language: rust

cache: cargo

dist: trusty

addons:
  apt:
    sources:
      - sourceline: 'ppa:wayland.admin/daily-builds'
    packages:
      - libssl-dev
      - libwayland-dev

rust:
  - 1.20.0
  - stable
  - beta
  - nightly

matrix:
  allow_failures:
    - rust: nightly

branches:
  only:
    - master

before_script:
  - export PATH=$HOME/.cargo/bin:$PATH
  - mkdir $(pwd)/socket
  - export XDG_RUNTIME_DIR="$(pwd)/socket"
  - |
      if [ $TRAVIS_RUST_VERSION = "nightly" ]; then
        rustup component add rustfmt-preview
      fi
  - which cargo-tarpaulin || cargo install cargo-tarpaulin
  - which cargo-install-update || cargo install cargo-update
  - cargo install-update -a

os:
  - linux

script:
  - |
      if [ $TRAVIS_RUST_VERSION = "nightly" ]; then
        cargo fmt --all -- --write-mode=diff
      fi
  - cargo build --all --all-features
  - cargo test --all --all-features
  - cargo tarpaulin --ignore-tests --ciserver travis-ci --coveralls $TRAVIS_JOB_ID
  - cargo doc --all --no-deps --all-features

after_success:
  - cp ./doc_index.html ./target/doc/index.html
  - cp ./rust.css ./target/doc/rust.css

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  local_dir: "target/doc"
  on:
    branch: master
    rust: stable

notifications:
    webhooks:
        urls:
            - "https://scalar.vector.im/api/neb/services/hooks/dHJhdmlzLWNpLyU0MGxldmFucyUzQXNhZmFyYWRlZy5uZXQvJTIxRkt4aGprSUNwakJWelZlQ2RGJTNBc2FmYXJhZGVnLm5ldA"
        on_success: change
        on_failure: always
        on_start: never
