exclude = ["wayland-tests"]

[advisories]
vulnerability = "deny"
unmaintained = "deny"
notice = "deny"

[bans]
# nix lags nehind on memoffset
#multiple-versions = "deny"
deny = [
]
skip = [
]

[licenses]
unlicensed = "deny"
allow-osi-fsf-free = "neither"
copyleft = "deny"
confidence-threshold = 0.93 # We want really high confidence when inferring licenses from text
allow = [
    "Apache-2.0",
    "MIT",
    "ISC",
    "BSD-3-Clause",
    "Zlib",
    # Used in unicode-ident, which is used by syn and proc-macro2.
    #
    # Do watch https://github.com/rust-lang/rust/issues/98116 for future progress on this
    #
    # Unicode describes it as a "permissive MIT type of license": https://www.unicode.org/faq/unicode_license.html
    # Fedora believes it is a free license: https://fedoraproject.org/wiki/Licensing/Unicode
    # Google categorizes the license under "notice" which means it can be used (with some exceptions like
    # notices or advertising clauses): https://opensource.google/documentation/reference/thirdparty/licenses#notice
    "Unicode-DFS-2016",
    # Unicode-DFS-2016 has been superseded by Unicode V3
    "Unicode-3.0",
]
