[package]
name = "wayland-client"
version = "0.3.0-alpha"
documentation = "http://vberger.github.io/wayland-client-rs/wayland_client/"
repository = "https://github.com/vberger/wayland-client-rs"
authors = ["Victor Berger <victor.berger@m4x.org>"]
license = "MIT"
description = "Bindings to the standard C implementation of the wayland protocol."
build = "build.rs"

[dependencies]
crossbeam = "0.1.5"
dlib = "0.1"
libc = "0.1"
lazy_static = { version = "0.1", optional = true }
wayland-sys = { path = "../wayland-sys", features = ["client"] }

[build-dependencies.wayland-rust-scanner]
path = "../scanner"

[dev-dependencies]
byteorder = "0.3"
tempfile = "1.1"

[features]
dlopen = ["dlib/dlopen", "wayland-sys/dlopen"]
egl = ["wayland-sys/egl"]
