[package]
name = "wayland-client"
version = "0.29.2"
documentation = "https://smithay.github.io/wayland-rs/wayland_client/"
repository = "https://github.com/smithay/wayland-rs"
authors = ["Victor Berger <victor.berger@m4x.org>"]
license = "MIT"
edition = "2018"
categories = ["gui", "api-bindings"]
keywords = ["wayland", "client"]
description = "Bindings to the standard C implementation of the wayland protocol, client side."
readme = "README.md"

[dependencies]
wayland-backend = { version = "0.1", path = "../wayland-backend" }
wayland-scanner = { version = "0.29.2", path = "../wayland-scanner" }
bitflags = "1.2"
once_cell = "1.0"
thiserror = "1.0"
nix = "0.22"

[features]
use_system_lib = ["wayland-backend/client_system"]
dlopen = ["wayland-backend/dlopen", "use_system_lib"]
