[package]
name = "wayland-client"
version = "0.29.5"
documentation = "https://smithay.github.io/wayland-rs/wayland_client/"
repository = "https://github.com/smithay/wayland-rs"
authors = ["Victor Berger <victor.berger@m4x.org>"]
license = "MIT"
edition = "2018"
categories = ["gui", "api-bindings"]
keywords = ["wayland", "client"]
description = "Bindings to the standard C implementation of the wayland protocol, client side."
build = "build.rs"
readme = "README.md"

[dependencies]
wayland-commons = { version = "0.29.5", path = "../wayland-commons" }
wayland-sys = { version = "0.29.5", path = "../wayland-sys" }
nix = { version = "0.24.1", default-features = false, features = ["fs", "poll"] }
downcast-rs = "1.0"
bitflags = "1.0"
libc = "0.2"
scoped-tls = { version = "1.0", optional = true }

[build-dependencies]
wayland-scanner = { version = "0.29.5", path = "../wayland-scanner" }

[dev-dependencies]
tempfile = ">=2.0, <4.0"
wayland-protocols = { path = "../wayland-protocols", features = ["client"] }

[features]
use_system_lib = ["wayland-sys/client", "scoped-tls"]
dlopen = ["wayland-sys/dlopen", "use_system_lib"]
