[package]
name = "wayland-client"
version = "0.23.6"
documentation = "https://smithay.github.io/wayland-rs/wayland_client/"
repository = "https://github.com/smithay/wayland-rs"
authors = ["Victor Berger <victor.berger@m4x.org>"]
license = "MIT"
categories = ["gui", "api-bindings"]
keywords = ["wayland", "client"]
description = "Bindings to the standard C implementation of the wayland protocol, client side."
build = "build.rs"

[badges]
travis-ci = { repository = "Smithay/wayland-rs" }

[dependencies]
wayland-commons = { version = "0.23.6", path = "../wayland-commons" }
wayland-sys = { version = "0.23.6", path = "../wayland-sys" }
nix = "0.14.1"
downcast-rs = "1.0"
bitflags = "1.0"
libc = "0.2"
calloop = { version = ">=0.3.1, <0.5", optional = true }
mio = { version = "0.6.0", optional = true }

[build-dependencies]
wayland-scanner = { version = "0.23.6", path = "../wayland-scanner" }

[dev-dependencies]
byteorder = "1.0"
tempfile = ">=2.0, <4.0"

[features]
native_lib = [ "wayland-sys/client" ]
dlopen = ["wayland-sys/dlopen", "native_lib"]
egl = ["wayland-sys/egl", "native_lib"]
cursor = ["wayland-sys/cursor", "native_lib"]
eventloop = ["calloop", "mio"]
