[package]
name = "wayland-protocols"
version = "0.21.9"
documentation = "https://smithay.github.io/wayland-rs/wayland_protocols/"
repository = "https://github.com/smithay/wayland-rs"
authors = ["Victor Berger <victor.berger@m4x.org>"]
license = "MIT"
keywords = ["wayland", "client", "server", "protocol", "extension"]
description = "Generated API for the officials wayland protocol extensions"
build = "build.rs"
categories = ["gui", "api-bindings"]

[badges]
travis-ci = { repository = "Smithay/wayland-rs" }

[dependencies]
wayland-commons = { version = "0.21.9", path = "../wayland-commons" }
wayland-sys = { version = "0.21.9", path = "../wayland-sys", optional = true }
wayland-client = { version = "0.21.9", path = "../wayland-client", optional = true }
wayland-server = { version = "0.21.9", path = "../wayland-server", optional = true }
bitflags = "1.0"

[build-dependencies]
wayland-scanner = { version = "0.21.9", path = "../wayland-scanner" }

[features]
client = ["wayland-client"]
server = ["wayland-server"]
native_lib = ["wayland-sys"]
native_client = ["client", "native_lib", "wayland-client/native_lib"]
native_server = ["server", "native_lib", "wayland-server/native_lib"]
unstable_protocols = []

[package.metadata.docs.rs]
all-features = true
