[package]
name = "wayland-protocols"
version = "0.20.8"
documentation = "https://smithay.github.io/wayland-rs/wayland_protocols/"
repository = "https://github.com/smithay/wayland-rs"
authors = ["Victor Berger <victor.berger@m4x.org>"]
license = "MIT"
keywords = ["wayland", "client", "server", "protocol", "extension"]
description = "Generated API for the officials wayland protocol extensions"
build = "build.rs"
categories = ["gui", "api-bindings"]

[badges]
travis-ci = { repository = "smithay/wayland-rs" }

[dependencies]
wayland-commons = { version = "0.20.8", path = "../wayland-commons" }
wayland-sys = { version = "0.20.8", path = "../wayland-sys" }
wayland-client = { version = "0.20.8", path = "../wayland-client", optional = true, default-features = false, features = ["native_lib"] }
wayland-server = { version = "0.20.8", path = "../wayland-server", optional = true }
bitflags = "1.0"

[build-dependencies]
wayland-scanner = { version = "0.20.8", path = "../wayland-scanner" }

[features]
default = ["native_lib"]
client = ["wayland-client"]
server = ["wayland-server"]
native_lib = []
misc_protocols = []
wall_protocols = []
unstable_protocols = []

[package.metadata.docs.rs]
all-features = true
