[package]
name = "wayland-protocols"
version = "0.30.0-beta.12"
documentation = "https://docs.rs/wayland-protocols/"
repository = "https://github.com/smithay/wayland-rs"
authors = ["Victor Berger <victor.berger@m4x.org>"]
license = "MIT"
keywords = ["wayland", "client", "server", "protocol", "extension"]
description = "Generated API for the officials wayland protocol extensions"
categories = ["gui", "api-bindings"]
edition = "2018"
readme = "README.md"

[dependencies]
wayland-scanner = { version = "=0.30.0-beta.12", path = "../wayland-scanner" }
wayland-backend = { version = "=0.1.0-beta.12", path = "../wayland-backend" }
wayland-client = { version = "=0.30.0-beta.12", path = "../wayland-client", optional = true }
wayland-server = { version = "=0.30.0-beta.12", path = "../wayland-server", optional = true }
bitflags = "1.0"

[features]
client = ["wayland-client"]
server = ["wayland-server"]
staging = []
unstable = []

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]