[package]
name = "wayland-backend"
version = "0.1.0-beta.6"
authors = ["Victor Berger <victor.berger@m4x.org>"]
edition = "2018"
repository = "https://github.com/smithay/wayland-rs"
documentation = "https://docs.rs/wayland-backend/"
license = "MIT"
categories = ["gui", "api-bindings"]
keywords = ["wayland"]
description = "Low-level bindings to the Wayland protocol"
readme = "README.md"
build = "build.rs"

[dependencies]
wayland-sys = { version = "0.30.0-beta.6", path = "../wayland-sys", features = [] }
smallvec = "1.4"
log = "0.4"
scoped-tls = "1.0"
downcast-rs = "1.2"

[dependencies.nix]
version = "0.24.1"
default-features = false
features = [
    "event",
    "fs",
    "poll",
    "socket",
    "uio",
]

[build-dependencies]
cc = "1.0"

[dev-dependencies]
wayland-scanner = { path = "../wayland-scanner"}
wayland-sys = { path = "../wayland-sys", features = ["client", "server"] }
concat-idents = "1.1"
env_logger = "0.9"

[features]
client_system = ["wayland-sys/client"]
server_system = ["wayland-sys/server"]
dlopen = ["wayland-sys/dlopen"]

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
