[package]
name = "wayland-server"
version = "0.21.11"
documentation = "https://smithay.github.io/wayland-rs/wayland_server/"
repository = "https://github.com/smithay/wayland-rs"
authors = ["Victor Berger <victor.berger@m4x.org>"]
license = "MIT"
categories = ["gui", "api-bindings"]
keywords = ["wayland", "server", "compositor"]
description = "Bindings to the standard C implementation of the wayland protocol, server side."
build = "build.rs"

[badges]
travis-ci = { repository = "Smithay/wayland-rs" }

[dependencies]
wayland-commons = { version = "0.21.11", path = "../wayland-commons" }
wayland-sys = { version = "0.21.11", features = ["server"], path = "../wayland-sys", optional = true }
bitflags = "1.0"
downcast-rs = "1.0"
libc = "0.2"
nix = "0.12"
mio = "0.6"
calloop = ">=0.3.1, <0.5"

[build-dependencies]
wayland-scanner = { version = "0.21.11", path = "../wayland-scanner" }

[features]
native_lib = [ "wayland-sys", "wayland-commons/native_lib" ]
dlopen = [ "wayland-sys/dlopen", "native_lib" ]
