[package]
name = "wayland-server"
version = "0.30.0-alpha4"
documentation = "https://smithay.github.io/wayland-rs/wayland_server/"
repository = "https://github.com/smithay/wayland-rs"
authors = ["Victor Berger <victor.berger@m4x.org>"]
license = "MIT"
categories = ["gui", "api-bindings"]
keywords = ["wayland", "server", "compositor"]
description = "Bindings to the standard C implementation of the wayland protocol, server side."
edition = "2018"
readme = "README.md"

[dependencies]
wayland-backend = { version = "0.1.0-alpha4", path = "../wayland-backend" }
wayland-scanner = { version = "0.30.0-alpha4", path = "../wayland-scanner" }
bitflags = "1.2"
thiserror = "1.0.2"
log = "0.4"
nix = "0.23"
downcast-rs = "1.2"
