[package]
name = "wayland-server"
version = "0.11.1"
documentation = "https://smithay.github.io/wayland-rs/wayland_server/"
repository = "https://github.com/smithay/wayland-rs"
authors = ["Victor Berger <victor.berger@m4x.org>"]
license = "MIT"
categories = ["gui", "api-bindings"]
keywords = ["wayland", "server", "compositor"]
description = "Bindings to the standard C implementation of the wayland protocol, server side."
build = "build.rs"

[badges]
travis-ci = { repository = "smithay/wayland-rs" }

[dependencies]
wayland-sys = { version = "0.11.1", features = ["server"], path = "../wayland-sys" }
libc = "0.2"
nix = "0.9"
bitflags = "1.0"
token_store = "0.1.1"

[build-dependencies]
wayland-scanner = { version = "0.11.1", path = "../wayland-scanner" }

[features]
dlopen = ["wayland-sys/dlopen"]
