name: Continuous Integration

on:
  push:
    branches:
    - master
  pull_request:

jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        rust: ['1.42.0', 'stable', 'beta']
      
    runs-on: ubuntu-latest

    env:
      XDG_RUNTIME_DIR: ~/.runtime

    steps:
      - name: Checkout sources
        uses: actions/checkout@v2
        with:
          submodules: recursive
      
      - name: Cargo cache
        uses: actions/cache@v1
        with:
          path: ~/.cargo
          key: cargo-${{ matrix.rust }}
      
      - name: System dependencies
        run: sudo apt-get install libwayland-dev
      
      - name: Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          override: true
          components: rustfmt

      - name: Runtime directory
        run: sh -c 'mkdir -p $XDG_RUNTIME_DIR'

      - name: Coverage
        uses: actions-rs/tarpaulin@v0.1
        with:
          args: --ignore-tests --workspace 

      - name: Upload to codecov.io
        uses: codecov/codecov-action@v1
 
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout sources
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
          components: rustfmt, clippy

      - name: System dependencies
        run: sudo apt-get install libwayland-dev 

      - name: Cargo fmt
        run: cargo fmt --all -- --check
      
      - name: Clippy
        run: cargo clippy --all
